

#radio{
	margin-right: 10px;
}

.btn-default.btn-success.btn-primary.btn-danger.btn-warning.btn-inverse.btn-white.btn-info{
	height: 34px;
}

.btn-inverse{
	width: 80px;
}

#btnNovo, #btnEditar, #btnExcluir{
	width: 80px;
	margin: -2px 2px -2px 2px;
}

#btnFiltrar{
	width: 100px;
}

#btnNovaEntrada, #btnGerarSucata{
	width: 100px;
	margin: -2px 2px;
}

#btnInserir, #btnEstoque, #btnSucata, #btnTrocar{
	width: 80px;
}

#btnSalvar, #btnCancelar{
	width: 90px;
}
